@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mask-gradient {
  mask-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}

.apply-btn {
  width: 100%;
  background-color: #55efc4;
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 8px 18px;
}

/* .mui-1wqinqt-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 0 !important;
}
.mui-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -9px !important;
}
.mui-9b4o1q-MuiAutocomplete-root .MuiAutocomplete-tag {
  margin: 8px !important;
  border-radius: 4px !important;
  margin-right: 12px !important;
}
.mui-6od3lo-MuiChip-label {
  font-size: 12px !important;
}

.mui-9b4o1q-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  border-right: 2px solid #cccccc;
} */
